@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,300;1,400&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #504f4f;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.primary {
  display: grid;
  place-items: center;
  height: 80vh;
  width: 100%;
  justify-content: space-around;
}
.name {
  padding: 10px;
}
.MuiButtonBase-root {
  color: rgb(234, 223, 67) !important;
  border-color: white !important;
  border-radius: 999px !important;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background-color: #504f4f;
  }
}
